<?php
/**
 * Created by PhpStorm.
 * User: lihan
 * Date: 17/1/1
 * Time: 14:51
 */
return [
    'log_path' => dirname(__DIR__) . "/var/logs/",
    'namespace' => 'FSth\\Framework\\Demo\\',
    'route_file' => dirname(__DIR__) . '/config/route.php',
    'trace' => [
        'setting' => [
            'logger_type' => 'file', // file
            'host' => 'http://127.0.0.1:9411',
            'file_path' => dirname(__DIR__) . "/var/logs/",
            'file_name' => 'zipkin.log'
        ],
        'execute' => true,
    ],
];